{{- if (not (eq .chezmoi.os "windows")) -}}
#!/bin/sh
# early exit when emacs is absent
type emacs &>/dev/null || exit 0
# tangle the file
pushd ~/.emacs.d &>/dev/null
emacs -Q --batch --eval "(progn \
      (require 'ob-tangle) \
      (org-babel-tangle-file \"emacs.org\"))"
# compile and exit immediately
emacs --batch -l ~/.emacs.d/init.el
{{- else -}}
{{- end }}
