# qol additions
show-failed-attempts
show-keyboard-layout
indicator-caps-lock

{{ if (eq .fingerprint false) }}
# disable fingerprint, force non-empty password
ignore-empty-password
{{ else }}
# enable fingerprint, empty password is possible
# ignore-empty-password
{{ end }}

daemonize

# coloring and looks
color=323232
## I *think* I don't need to quote the string?
font=Jetbrains Mono
font-size=24

# customize indicator
indicator-radius=50
indicator-thickness=10
line-uses-inside
inside-color=5c5c5c
separator-color=323232
