# i3blocks configuration file
#
# The i3blocks man page describes the usage of the binary,
# and its website describes the configuration:
#
#     https://vivien.github.io/i3blocks

# i3blocks-contrib scripts here
SCRIPT_DIR=/usr/lib/i3blocks

# Global properties
separator=true
separator_block_width=16
markup=pango

# [systemd/u/emacs]
# command=$SCRIPT_DIR/systemd_unit
# markup=pango
# label=emacs:
# interval=5
# UNIT_NAME=emacs.service
# USER_UNIT=true

[mediaplayer]
command=$SCRIPT_DIR/mediaplayer
instance=mpd
interval=30
signal=2
# MPC_FORMAT=[[[%composer%|%performer%|%artist%]#|%title%]]|[%file%]

[backlight]
command=$SCRIPT_DIR/backlight
label=☀
interval=1
STEP_SIZE=10

[disk]
command=$SCRIPT_DIR/disk
LABEL=/ 
DIR=/
ALERT_LOW=10
interval=60

[mpc-volume*]
command=~/.local/bin/mpc-volume
interval=once
signal=2

[volume-pipewire*]
# command=$SCRIPT_DIR/volume-pipewire
command=~/.local/bin/volume-pipewire
interval=once
signal=1
AUDIO_HIGH_SYMBOL=
AUDIO_MED_SYMBOL=
AUDIO_LOW_SYMBOL=
AUDIO_MUTED_SYMBOL=
LONG_FORMAT="${SYMB} ${VOL}%"
SHORT_FORMAT="${SYMB} ${VOL}%"
MUTED_COLOR="#cc0000"

[miccontrol*]
command=~/.local/bin/miccontrol
interval=once
signal=3
SOURCE=38
#  

[battery2]
command=$SCRIPT_DIR/battery2
interval=5

[iface.thunderbolt0]
command=$SCRIPT_DIR/iface
LABEL=
IFACE=thunderbolt0
color=#0077FF
interval=5

[openvpn-systemd]
# requires JSON/Parse.pm
command=$SCRIPT_DIR/openvpn-systemd
interval=10
label=V 

[iface.tun0]
command=$SCRIPT_DIR/iface
LABEL=
IFACE=tun0
color=#00FF00
interval=10

[iface.tun1]
command=$SCRIPT_DIR/iface
LABEL=
IFACE=tun1
color=#00FF00
interval=10

[ssid]
command=$SCRIPT_DIR/ssid
interval=10
INTERFACE=wlan0

[iface.wlan0]
command=$SCRIPT_DIR/iface
LABEL=
IFACE=wlan0
color=#00FF00
interval=10

[dunst]
command=$SCRIPT_DIR/dunst
interval=once
format=json

[time1]
command=TZ={{- .time1 }} date '+%a %FT%T-%Z'
color=#028548
interval=1
