# i3blocks configuration file
#
# The i3blocks man page describes the usage of the binary,
# and its website describes the configuration:
#
#     https://vivien.github.io/i3blocks

# i3blocks-contrib scripts here
## unfortunately cannot add custom variable names
SCRIPT_DIR=/usr/lib/i3blocks
{{ $local_scripts := "~/.local/lib/i3blocks" }}
# Global properties
separator=true
separator_block_width=12
markup=pango

[bandwidth2]
command=$SCRIPT_DIR/bandwidth2
interval=persist
LABEL=

[cpu_usage2]
command=$SCRIPT_DIR/cpu_usage2
interval=persist
WARN_PERCENT=50
CRIT_PERCENT=80
REFRESH_TIME=5
LABEL=C

[memory]
command={{- $local_scripts -}}/memory
label=M
instance=mem
interval=15

[temperature]
command=$SCRIPT_DIR/temperature
label=T
interval=1
T_WARN=60
T_CRIT=75

[time2]
command=date '+%a %T %Z'
TZ={{- .time2 }}
interval=1

[time3]
command=date '+%a %T %Z'
TZ={{- .time3 }}
interval=1
